.home__container {
    row-gap: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_content {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 8.9rem;
    padding-bottom: 9rem;
}

.home_data{
    place-items: center;
    text-align: center;
    padding-left: 10px;
    justify-content: center;
    margin-left: 50px;
}
.home_title {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: var(--mb-0-25);
    font-size: 35px;
}

.home_subtitle {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 5.5rem;
}

.home_description {
    max-width: 400px;
    margin-bottom: var(--mb-3);
}

.home_social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 180px;
}
.home-social_icon{
    margin-bottom: 10px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    transition: transform 0.3s ease, filter 0.3s ease; 
}
.icon-instagram{
    background-image: url(../../assets/instagram.png);
}
.icon-linkedin{
    background-image: url(../../assets/linkedin.png);
}
.icon-github{
    background-image: url(../../assets/github.png);
}
.icon-instagram:hover,
.icon-linkedin:hover,
.icon-github:hover{
    filter: brightness(0) saturate(100%) invert(34%) sepia(82%) saturate(3126%) hue-rotate(301deg) brightness(94%) contrast(101%);
}


.home_img {
    background: url(../../assets/elsha.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgba(85, 104, 250, 0.42);
    justify-self: center;
    margin-left: 30px;
    width: 300px;
    height: 300px;
    animation: profile_animate 8s ease-in-out infinite 1s;
}

@keyframes profile_animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}