#contact {
    margin-top: 3rem;
    color: white;
    position: relative;
    padding: 2rem 1rem;
    background-color: #b5005baf;
}

.social{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    text-align: center;
}


.contact_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; 
    padding: 20px;
    background-color: #ffffff1a; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.contact_item:hover {
    background-color: #ffffff33; 
    transform: translateY(-5px); 
}
.contact_social-icon{
    width: 40px;
    height: 40px;
    background-size: contain;
    margin-bottom: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
    display: inline-block;
    background-repeat: no-repeat;
}
/* .icon-email{
    background-image: url(../../assets/email.png);
}
.icon-gituhub{
    background-image: url(../../assets/github.png);
}
.icon-linkedin{
    background-image: url(../../assets/linkedin.png);
} */

.contact_text {
    margin-top: 8px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}
#contact a:hover {
    color: #928cff;
}
.contact_social-icon:hover{
    filter: brightness(0) saturate(100%) invert(34%) sepia(82%) saturate(3126%) hue-rotate(301deg) brightness(94%) contrast(101%);
}
  