#contact {
    margin-top: 3rem;
    color: white;
    position: relative;
    padding: 2rem 1rem;
    background-color: #7e1e6e;
}

.social{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    text-align: center;
}

#contact a {
    color: #6c63ff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
#contact a:hover {
    color: #928cff;
}
  